
.stopfade {
  opacity: .5;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;

  a:hover {
    text-decoration: none;
  }

  video {
    min-width: 100%;
  }

  #info-block {
    font-family: 'Comfortaa', cursive;
    border: 4px solid white;
    font-weight: 100;
    color: white;
    padding: 2em;
    text-align: center;
    width: 50%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 1000;
    top: 5%;
    font-size: 1em;
    background: rgba(0, 0, 0, 0.5);
  }

  #info-block h1 {
    font-size: 3.3em;
    margin-bottom: 20px;

  }

  #info-block p {
    font-size: .9em;
    margin-bottom: 10px;
  }

  .info-block__button {
    font-family: 'Comfortaa', cursive;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 1000;
    display: block;
    width: 30%;
    padding: .4em;
    font-size: 2.3em;
    border: 4px solid white;
    background: none;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;

    background: rgba(0, 0, 0, 0.5);
  }

  .info-block__button:hover {
    background: rgba(0, 0, 0, 0.5);
  }
}