.wrapper {
  .main-page {
    font-family: 'Comfortaa', cursive;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 1000;
    top: 5%;
    font-size: 1em;
  }
  .main-page__button {
    font-family: 'Comfortaa', cursive;
    border: 4px solid white;
    background: none;
    font-size: 24px;
    color: #fff;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    &_centre {
      width: 10em !important;
      height: 10em !important;
    }
  }
  @media (max-width: 1700px) {
    .main-page__button {
      width: 150px !important;
      height: 150px !important;
      font-size: 18px !important;
      &_centre {
        width: 160px !important;
        height: 160px !important;
      }
    }
  }
  @media (max-width: 1350px) {
    .main-page__button {
      width: 130px !important;
      height: 130px !important;
      font-size: 15px !important;
      &_centre {
        width: 140px !important;
        height: 140px !important;
      }
    }
  }
  @media (max-width: 1200px) {
    .main-page__button {
      width: 110px !important;
      height: 110px !important;
      font-size: 13px !important;
      &_centre {
        width: 120px !important;
        height: 120px !important;
      }
    }
  }
  @media (max-width: 1000px) {
    .main-page__button {
      width: 90px !important;
      height: 90px !important;
      font-size: 11px !important;
      &_centre {
        width: 100px !important;
        height: 100px !important;
      }
    }
  }
  @media (max-width: 800px) {
    .main-page__button {
      width: 70px !important;
      height: 70px !important;
      font-size: 9px !important;
      &_centre {
        width: 80px !important;
        height: 80px !important;
      }
    }
  }
}