.projects {
  background-image: url("../assets/sfedu_logo.jpg");
  background-size: 75%;
  background-position: center;
  height: calc(100vh - 116px);
}

.project-btn {
  font-family: 'Comfortaa', cursive;
  border: 4px solid rgba(0, 0, 0, 0.5);
  width: 16em;
  height: 16em;
  border-radius: 50%;
  cursor: pointer;
  background-size: 100%;
  position: relative;
  background-position-y: center;
  &__cyber {
    background-image: url("../assets/cyber.jpg");
    &:after {
      font-family: 'Comfortaa', cursive;
      content: "CyberGarden";
      position: absolute;
      bottom: -47px;
      font-size: 28px;
      left: 50%;
      transform: translate(-50%, 0 );
    }
  }
  &__museum {
    background-image: url("../assets/museum.jpg");
    &:after {
      font-family: 'Comfortaa', cursive;
      content: "Трогательный музей";
      position: absolute;
      bottom: -80px;
      font-size: 28px;
      left: 50%;
      transform: translate(-50%, 0 );
    }
  }
  &__geek {
    background-image: url("../assets/geek.jpg");
    &:after {
      font-family: 'Comfortaa', cursive;
      content: "Geek School";
      position: absolute;
      bottom: -80px;
      font-size: 28px;
      left: 50%;
      transform: translate(-50%, 0 );
    }
  }
}