@import 'base';
@import '~bootstrap/dist/css/bootstrap.css';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}


html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
}
.news__image {
  margin-bottom: 10px;
  float: left;
  margin-right: 15px;
}

.news__user {
  margin-top: 60px;
}

.button__social {
  margin-top: 10px;
}
.news__btn {
  margin-bottom: 15px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
