.wrapper {
  .main-page {
    font-family: 'Comfortaa', cursive;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 1000;
    top: 5%;
    font-size: 1em;
  }
  .main-page__button {
    font-family: 'Comfortaa', cursive;
    border: 4px solid white;
    background: none;
    font-size: 24px;
    color: #fff;
    width: 8em;
    height: 8em;
    border-radius: 50%;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
  }
}
.question__image {
  max-width: 70%;
}

.myAlert-top{
  position: fixed;
  top: 17px;
  text-align: center;
  left: 2%;
  width: 5%;
  z-index: 9999;
}