.page-layout__viewport {
  padding-top: 4rem;
}

.page-layout__nav-item--active {
  font-weight: bold;
  text-decoration: underline;
}

.core-layout__viewport {
  min-height: calc(100vh - 141px);
}

.page__title {
  position: relative;
}

.icon__back {
  transform: scale(-1, 1);
  cursor: pointer;
  position: absolute;
  left: 10px;
}
