
.footer {
  min-height: 100px;
  margin-bottom: 0;
  background-color: #f7f7f9;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.social-logo {
  width: 30px;

}

.center {
  display: flex;
  align-items: center;
  margin-top: 10px;
  img {
    margin-top: -5px;
  }
}

.footer__links {
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  color: black;
  &-admin {
    cursor: pointer;
    text-decoration: underline;
  }
}