.projects {
  background-image: url("../assets/sfedu_logo.jpg");
  background-size: 75%;
  background-position: center;
  height: calc(100vh - 116px);
}

.button__projects {
position: absolute;
  bottom: 0;
}

.project-btn {
  font-family: 'Comfortaa', cursive;
  border: 4px solid rgba(0, 0, 0, 0.5);
  width: 16em;
  height: 16em;
  border-radius: 50%;
  cursor: pointer;
  background-size: 100%;
  position: relative;
  background-position-y: center;
  background-repeat: no-repeat;
  background-color: white;
  &__enactus {
    background-image: url("../assets/enactus.jpg");
    &:after {
      font-family: 'Comfortaa', cursive;
      content: "Enactus";
      position: absolute;
      bottom: -47px;
      font-size: 28px;
      left: 50%;
      transform: translate(-50%, 0 );
    }
  }

  &__preactum {
    background-image: url("../assets/preactum.jpg");
    &:after {
      font-family: 'Comfortaa', cursive;
      content: "ПРЕАКТУМ";
      position: absolute;
      bottom: -47px;
      font-size: 28px;
      left: 50%;
      transform: translate(-50%, 0 );
    }
  }
}